<launch>
	<!-- ========================================================== -->
	<!-- Source images for Kinefly CAM2.                           -->
	<!-- ========================================================== -->
    <param name="use_sim_time"                 type="bool" value="false"/>


    <param name="kinefly_cam2/image_output/compressed/format"  type="string" value="png" />
    <node name="image_proc"       pkg="image_proc"  type="image_proc"               ns="kinefly_cam2" />
    
    <param name="rhag_cam2/camera/image_raw/compressed/format"  type="string" value="png" />
    <!-- image_proc node for camera is defined in camera_1394.launch, removing duplicate -->

    <include file="$(find Kinefly)/launch/$(env RIG)/params_camera1394.launch"      ns="rhag_cam2/camera" />
    <include file="$(find Kinefly)/launch/$(env RIG)/camera_1394.launch" />

<!-- (If you want to read external voltage signals (i.e. led panels position voltages) and publish them for data-recording purposes).
    <node name="interfacekit"             pkg="phidgets"  type="phidgets_interfacekit.py"   ns="stimulus"    required="true" />
    <node name="acquirevoltages2msg"      pkg="Kinefly"   type="acquirevoltages2msg.py"     ns="stimulus"    required="true" />
-->    


</launch>
