<launch>
	<!-- ========================================================== -->
	<!-- Launch everything needed for Kinefly VR1, except the       -->
    <!-- source image streams.                                      -->
	<!-- ========================================================== -->

    <!-- <include file="$(find Kinefly)/launch/$(env RIG)/params_stimulus.launch" /> -->

    <include file="$(find Kinefly)/launch/$(env RIG)/params_kinefly.launch"                 ns="VR1" />
    <!--<include file="$(find Kinefly)/launch/$(env RIG)/params_ledpanels.launch"               ns="VR1" />
    <include file="$(find Kinefly)/launch/$(env RIG)/params_phidgetsanalog.launch"          ns="VR1" />-->

    <!-- Start Kinefly with the correct image topic for VR1 -->
    <node name="VR1" pkg="Kinefly" type="kinefly.py" required="true" ns="VR1">
        <param name="image_topic" value="/VR1/camera/image_mono" />
        <param name="use_gui" value="true" />
    </node>

    <!--<node name="ledpanels" pkg="ledpanels" type="ledpanels.py" />-->
    <!--<node name="flystate2ledpanels" pkg="Kinefly" type="flystate2ledpanels.py" ns="VR1" />
    <node name="flystate2phidgetsanalog" pkg="Kinefly" type="flystate2phidgetsanalog.py" ns="VR1" />-->
    
    
    
    
</launch>
