<launch>
    <!-- Single camera node -->
    <node name="camera" pkg="usb_cam" type="usb_cam_node" ns="rhag_camera" output="screen">
        <param name="video_device" type="string" value="/dev/video0"/>
        <param name="width" type="int" value="640"/>
        <param name="height" type="int" value="480"/>
        <param name="fps" type="int" value="30"/>
        <param name="pixel_format" value="yuyv"/>
        <param name="camera_frame_id" value="usb_cam"/>
        <param name="io_method" value="mmap"/>
        
        <!-- Camera settings -->
        <param name="brightness" value="100"/>
        <param name="contrast" value="255"/>
        <param name="exposure_absolute" value="255"/>
        <param name="gain" value="12"/>
        <param name="auto_exposure" value="0"/>
        <param name="auto_gain" value="0"/>
        <param name="auto_white_balance" value="0"/>
    </node>

    <!-- Single image_proc for mono conversion -->
    <node name="image_proc" pkg="image_proc" type="image_proc" ns="rhag_camera/camera"/>
</launch>


